<div class="pg-footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">
        {{ elements.sitebranding }}
      </div>
      <div class="col-lg-9">
        {{ elements.playground_footer }}
        {{ elements.playground_powered }}
        <p>© Tom Evans {{ 'now'|date('Y') }}</p>
      </div>
    </div>
  </div>
</div>
