@import "bootstrap/scss/grid";

.col-grow {
  display: flex;
  flex-direction: column;
}

@include media-breakpoint-up(md) {
  .row-staggered {
    justify-content: center;

    > :first-child:nth-last-child(5),
    > :first-child:nth-last-child(6) {
      margin-left: 1px;
    }
  }
}
