#block-playground-local-tasks {
  padding: $spacing-margin 0;

  ul {
    @include menu-reset;
    margin: 0;
  }

  li {
    display: inline-block;

    + li {
      margin-left: $spacing-margin;
    }
  }
}
