html {
  font-size: map-get($font-sizes, base);
  font-family: map-get($font-families, sans-serif);
  color: map-get($colours, slate);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($colours, cream);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: $spacing-margin 0;
}

h1,
h2,
h3 {
  font-family: map-get($font-families, display);
}

h1 {
  font-size: map-get($font-sizes, xxxxl);
}

h2 {
  font-size: map-get($font-sizes, xxxl);
}

h3 {
  font-size: map-get($font-sizes, xxl);
}

h4 {
  font-size: map-get($font-sizes, lg);
}

h5 {
  font-size: map-get($font-sizes, base);
}

h6 {
  font-size: map-get($font-sizes, md);
}

p {
  line-height: map-get($line-heights, large);

  a {
    color: map-get($colours, ocean);
  }
}

.pg-type-intro {
  font-size: map-get($map: $font-sizes, $key: xl);
}
