<div class="pg-hero">
  <div class="pg-hero__content">
    <h1>Hero</h1>
  </div>
</div>
<div class="container">
  <button class="pg-search-trigger">
    <span>Search</span>
  </button>
  <button class="pg-menu-trigger">
    <span>Menu</span>
  </button>
  <div class="pg-accordion" data-pg-accordion>
    {% for i in 1..3 %}
      <div class="pg-accordion__slide" data-pg-accordion-slide>
        <h1>Accordion Item {{ i }} Title</h1>
        <div class="pg-accordion__content" data-pg-accordion-content>
          <p>Accordion Item {{ i }} content</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="pg-scroller" data-pg-scroller>
    <div class="pg-scroller__head" data-pg-scroller-head>
      <h2>Title</h2>
    </div>
    <div class="row pg-scroller__row">
      <div class="col-md-6 pg-scroller__main" data-pg-scroller-main>
        <h2>Pinned content</h2>
      </div>
      <div class="col-md-6 pg-scroller__inset" data-pg-scroller-inset>
        <div class="row pg-scroller__inset-row">
          <div class="col-12">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pg-revealer" data-pg-revealer>
  <div class="pg-revealer__section pg-revealer__section--first" data-pg-revealer-section>
    <div class="pg-revealer__content" data-pg-revealer-content>
      <p class="pg-revealer__text" data-pg-revealer-text>Text<br>text<br>text<br>text<br>text<br>text</p>
    </div>
  </div>
  <div class="pg-revealer__section pg-revealer__section--last" data-pg-revealer-section>
    <div class="pg-revealer__content" data-pg-revealer-content>
      <p class="pg-revealer__text" data-pg-revealer-text>Text<br>text<br>text<br>text<br>text<br>text</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="tm-grid" data-tm-grid>
    <div class="row">
      <div class="tm-grid__column col-lg-4" data-tm-grid-slot>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 1</h3>

          <div>
            <a href="">A Comedy About A Bank Robbery</a>
          </div>
          <div>
            <a href="">A Comedy About A Bank Robbery</a>
          </div>
          <div>
            <a href="">A Comedy About A Bank Robbery</a>
          </div>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 6</h3>
          <p></p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 7</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
      </div>
      <div class="tm-grid__column col-lg-4" data-tm-grid-slot></div>
      <div class="tm-grid__column col-lg-4" data-tm-grid-slot></div>
    </div>
  </div>
</div>
