<button class="pg-search-trigger">
  <span>Search</span>
</button>
<button class="pg-menu-trigger">
  <span>Menu</span>
</button>
<div class="pg-accordion" data-pg-accordion>
  {% for i in 1..3 %}
    <div class="pg-accordion__slide" data-pg-accordion-slide>
      <h1>Accordion Item {{ i }} Title</h1>
      <div class="pg-accordion__content" data-pg-accordion-content>
        <p>Accordion Item {{ i }} content</p>
      </div>
    </div>
  {% endfor %}
</div>
<div class="container">
  <div class="hilm-scroller" data-hilm-scroller>
    <div class="hilm-scroller__head" data-hilm-scroller-head>
      <h2>Featured Insights</h2>
      <h6 class="hilm-type-emphasis">
        As featured in Hiscox Global Insight</h6>
    </div>
    <div class="row hilm-scroller__row">
      <div class="col-md-6 hilm-scroller__main" data-hilm-scroller-main>
        <div class="hilm-story" style="background-image: url('/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg');">
          <div class="hilm-story__content">
            <h6 class="hilm-type-label">Space Tourism</h6>
            <h2>Iran: Open for business?</h2>
            <a class="hilm-button" href="/">Read the article</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 hilm-scroller__inset">
        <div class="row hilm-scroller__inset-row">
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Working the niches</h3>
            <p>From insuring Danish dog owners to wind turbine operators, our Alternative Distribution team is on the hunt for new risks.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/tall.jpg"/>
            <h3>Outside the Box: Neil Bolton</h3>
            <p>Hiscox London Markets Head of Casualty on living the good life in the countryside, coping with vanishing hens and
                                                  suicidal sheep.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Open all hours: Hiscox drive terrorism trading online</h3>
            <p>Jade Gradwell explains why Hiscox's online terrorism initiative has improved accessibility and creates more time to meet
                                                  brokers.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>The perils of being a wine-collecting addict</h3>
            <p>Collecting can be very addictive, says Bobby Read. Passionate wine collectors need to beware of where they get their
                                                  fixes.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Working the niches</h3>
            <p>From insuring Danish dog owners to wind turbine operators, our Alternative Distribution team is on the hunt for new risks.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/tall.jpg"/>
            <h3>Outside the Box: Neil Bolton</h3>
            <p>Hiscox London Markets Head of Casualty on living the good life in the countryside, coping with vanishing hens and
                                                  suicidal sheep.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Open all hours: Hiscox drive terrorism trading online</h3>
            <p>Jade Gradwell explains why Hiscox's online terrorism initiative has improved accessibility and creates more time to meet
                                                  brokers.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>The perils of being a wine-collecting addict</h3>
            <p>Collecting can be very addictive, says Bobby Read. Passionate wine collectors need to beware of where they get their
                                                  fixes.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Working the niches</h3>
            <p>From insuring Danish dog owners to wind turbine operators, our Alternative Distribution team is on the hunt for new risks.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/tall.jpg"/>
            <h3>Outside the Box: Neil Bolton</h3>
            <p>Hiscox London Markets Head of Casualty on living the good life in the countryside, coping with vanishing hens and
                                                  suicidal sheep.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Open all hours: Hiscox drive terrorism trading online</h3>
            <p>Jade Gradwell explains why Hiscox's online terrorism initiative has improved accessibility and creates more time to meet
                                                  brokers.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>The perils of being a wine-collecting addict</h3>
            <p>Collecting can be very addictive, says Bobby Read. Passionate wine collectors need to beware of where they get their
                                                  fixes.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Working the niches</h3>
            <p>From insuring Danish dog owners to wind turbine operators, our Alternative Distribution team is on the hunt for new risks.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/tall.jpg"/>
            <h3>Outside the Box: Neil Bolton</h3>
            <p>Hiscox London Markets Head of Casualty on living the good life in the countryside, coping with vanishing hens and
                                                  suicidal sheep.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>Open all hours: Hiscox drive terrorism trading online</h3>
            <p>Jade Gradwell explains why Hiscox's online terrorism initiative has improved accessibility and creates more time to meet
                                                  brokers.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/themes/custom/hiscox_londonmarket/img/placeholder/hero.jpg"/>
            <h3>The perils of being a wine-collecting addict</h3>
            <p>Collecting can be very addictive, says Bobby Read. Passionate wine collectors need to beware of where they get their
                                                  fixes.</p>
            <div class="hilm-block-wrapper">
              <a class="hilm-cta" href="/">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tm-grid" data-tm-grid>
    <div class="row">
      <div class="tm-grid__column col-lg-4" data-tm-grid-slot>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 1</h3>

          <div>
            <a href="">A Comedy About A Bank Robbery</a>
          </div>
          <div>
            <a href="">A Comedy About A Bank Robbery</a>
          </div>
          <div>
            <a href="">A Comedy About A Bank Robbery</a>
          </div>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 6</h3>
          <p></p>
        </div>
        <div class="tm-grid__item" data-tm-grid-item>
          <h3 class="tm-grid__title">Grid item 7</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
      </div>
      <div class="tm-grid__column col-lg-4" data-tm-grid-slot></div>
      <div class="tm-grid__column col-lg-4" data-tm-grid-slot></div>
    </div>
  </div>
</div>
