@import "bootstrap/scss/mixins/screen-reader";

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Button reset. Remove padding, border and background color from button
@mixin button-reset() {
  padding: 0;
  border: 0;
  background-color: transparent;
}

// Menu reset. Remove padding and list style from menus
@mixin menu-reset() {
  padding-left: 0;
  list-style: none;
}

@mixin reset-child-margins {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
