// Colours
$colours: (
  cream: #f9f7ef,
  surf: #53cdd6,
  sand: #f4d35e,
  rock: #daddd8,
  grass: #137e00,
  earth: #704e2e,
  slate: #252323,
  rust: #f9a03f,
  blood: #b3001b,
  ocean: #2176ae
);

// Font Sizes
$font-sizes: (
  base: 16px,
  xxxxl: 3rem,
  // 48px
    xxxl: 2rem,
  // 32px
    xxl: 1.5rem,
  // 24px
    xl: 1.25rem,
  // 20px
    lg: 1.125rem,
  // 18px
    md: 0.875rem,
  // 14px
    sm: 0.75rem,
  // 12px
    xs: 0.625rem,
  // 10px
);

// Font families
$font-families: (
  display: #{"Pacifico",
  cursive},
  sans-serif: #{"Open Sans",
  Helvetica,
  sans-serif},
  icons: "icomoon"
);

// Line heights
$line-heights: (
  small: 1.1,
  regular: 1.2,
  large: 1.6
);

// Letter Spacing
$letter-spacing-large: 1.5px;

// Spacing
$spacing-margin: 1rem;

// Forms
$form-border: 1px solid map-get($colours, rock);
$form-primary-colour: map-get($colours, slate);
$form-secondary-colour: white;
$form-element-size: map-get($font-sizes, xl);

// Paths
$path-fonts: "../../fonts";
$path-images: "../../img";
$path-icons: "#{$path-images}/icon";

// Layers
$layer-header: 2;
$layer-revealer: 1;
$layer-player: -1;

// Box shadow
$box-shadow-focus: 0 0 8px 3px map-get($colours, ocean);
