$spacing-margin: 16px;

// Colours
$colours: (
  cream: #F8F9EF,
  surf : #53CDD6,
  sand : #F4D35E,
  rock : #DADDD8,
  grass: #CFF27E,
  earth: #704E2E,
  slate: #252323,
  rust:  #F9A03F,
  blood: #B3001B,
  ocean: #2176AE,
);

// Font Sizes
$font-sizes: (
  base :     16px,
  xxxxl:     3rem,  // 48px
  xxxl :     2rem,  // 32px
  xxl  :   1.5rem,  // 24px
  xl   :  1.25rem,  // 20px
  lg   : 1.125rem,  // 18px
  md   : 0.875rem,  // 14px
  sm   :  0.75rem,  // 12px
  xs   : 0.625rem,  // 10px
);

// Font families
$font-families: (
  display: #{'Pacifico', cursive},
  sans-serif: #{"Open Sans", Helvetica, sans-serif},
  icons: 'icomoon'
);

// Line heights
$line-heights: (
  small: 1.1,
  regular: 1.2,
  large: 1.6,
);

// Spacing
$spacing-margin: 1rem;

// Forms
$form-border: 1px solid map-get($colours, rock);
$form-primary-colour: map-get($colours, slate);
$form-secondary-colour: map-get($colours, cream);
$form-element-size: map-get($font-sizes, xl);

// Paths
$path-fonts: '../../fonts';
$path-images: '../../img';
$path-icons: '#{$path-images}/icon';

