.pg-card {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 36px;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  will-change: transform;

  &:hover {
    transform: scale(1.02);
  }

  &__inner {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: map-get($colours, cream);
    color: map-get($colours, slate);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 8%;
      right: 8%;
      z-index: -1;
      display: block;
      height: 50px;
      background-color: map-get($colours, slate);
      box-shadow: 0 0 13px 8px black;
      opacity: 0.2;
    }
  }

  &__image {
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 32px;
  }

  &__content-top {
    flex-grow: 1;
  }

  &__content-bottom {
    display: flex;
    margin-top: 27px;
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__label {
    font-size: map-get($font-sizes, md);
  }

  &__title {
    margin: 5px 0;
    line-height: 1.2;
  }

  &__detail {
    flex-basis: 50%;

    + .pg-card__detail {
      margin-left: 15px;
    }
  }

  .iab-label {
    margin-bottom: 7px;
  }
}

@include media-breakpoint-up(md) {
  .pg-card {
    &:hover {
      transform: scale(1.05);
    }
  }
}
