.pg-form {
  &__element {
    margin: $spacing-margin 0;
    display: block;

    span {
      display: block;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
      appearance: none;
      height: 1.875em;
      border: $form-border;
      min-width: 250px;
      max-width: 100%;
      background-color: $form-secondary-colour;
      border-radius: 0.2em;
      padding: 0.3em;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 7px 0px map-get($colours, surf);
      }
    }

    select {
      background-image: url("#{$path-icons}/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: 1em 1em;
      background-position: center right 0.3em;
      cursor: pointer;
    }

    input[type="checkbox"],
    input[type="radio"] {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }
}
