.pg-grid {
  padding: $spacing-margin 0;

  &__item {
    margin-bottom: 30px;
  }

  * {
    margin-top: 0;
  }
}

@include media-breakpoint-up(md) {
  .pg-grid {
    column-count: 3;
    column-gap: $grid-gutter-width;

    &__item {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}
