.pg-header {
  @include clearfix;
  background-color: map-get($colours, surf);
  border-bottom: 4px solid map-get($colours, sand);
  padding: $spacing-margin 0;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.is-header-fixed {
  .pg-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $layer-header;
  }

  &.toolbar-fixed {
    &.toolbar-vertical {
      .pg-header {
        top: 39px;
      }
    }
    
    &.toolbar-horizontal {
      .pg-header {
        top: 39px;
      }
      
      &.toolbar-tray-open {
        .pg-header {
          top: 79px;
        }
      }
    }
  }
}