.pg-header {
  @include clearfix;
  background-color: map-get($colours, surf);
  border-bottom: 4px solid map-get($colours, sand);
  padding: $spacing-margin 0;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}