.pg-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: map-get($font-families, icons);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2rem;

  &--arrow-down:before {
    content: "\ea36";
  }

  &--arrow-left-thin:before {
    content: "\ea40";
  }

  &--arrow-right-thin:before {
    content: "\ea3c";
  }

  &--arrow-up:before {
    content: "\ea32";
  }

  &--checkmark:before {
    content: "\ea10";
  }

  &--circle-down:before {
    content: "\ea43";
  }

  &--cross:before {
    content: "\ea0f";
  }

  &--download:before {
    content: "\e960";
  }

  &--equalizer2:before {
    content: "\e993";
  }

  &--envelop:before {
    content: "\e945";
  }

  &--linkedin2:before {
    content: "\eaca";
  }

  &--phone:before {
    content: "\e942";
  }

  &--home3:before {
    content: "\e902";
  }
  &--pencil2:before {
    content: "\e906";
  }
  &--images:before {
    content: "\e90e";
  }
  &--music:before {
    content: "\e911";
  }
  &--book:before {
    content: "\e91f";
  }
  &--profile:before {
    content: "\e923";
  }
  &--phone:before {
    content: "\e942";
  }
  &--envelop:before {
    content: "\e945";
  }
  &--display:before {
    content: "\e956";
  }
  &--laptop:before {
    content: "\e957";
  }
  &--mobile:before {
    content: "\e958";
  }
  &--mobile2:before {
    content: "\e959";
  }
  &--download:before {
    content: "\e960";
  }
  &--lock:before {
    content: "\e98f";
  }
  &--equalizer2:before {
    content: "\e993";
  }
  &--trophy:before {
    content: "\e99e";
  }
  &--rocket:before {
    content: "\e9a5";
  }
  &--meter:before {
    content: "\e9a6";
  }
  &--lab:before {
    content: "\e9aa";
  }
  &--bin:before {
    content: "\e9ac";
  }
  &--power:before {
    content: "\e9b5";
  }
  &--clipboard:before {
    content: "\e9b8";
  }
  &--earth:before {
    content: "\e9ca";
  }
  &--eye:before {
    content: "\e9ce";
  }
  &--eye-blocked:before {
    content: "\e9d1";
  }
  &--heart:before {
    content: "\e9da";
  }
  &--cross:before {
    content: "\ea0f";
  }
  &--checkmark:before {
    content: "\ea10";
  }
  &--arrow-up:before {
    content: "\ea32";
  }
  &--arrow-down:before {
    content: "\ea36";
  }
  &--arrow-right2:before {
    content: "\ea3c";
  }
  &--arrow-left2:before {
    content: "\ea40";
  }
  &--circle-down:before {
    content: "\ea43";
  }
  &--linkedin2:before {
    content: "\eaca";
  }
  &--plus:before {
    content: "\ea0a";
  }
  &--minus:before {
    content: "\ea0b";
  }
}
