.pg-logo {
  img {
    max-width: 50px;
  }

  &--desktop {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .pg-logo {
    img {
      max-width: 90px;
    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
