.pg-page-section {
  padding: 30px 0;

  &--inverse {
    background-color: map-get($colours, slate);
    color: map-get($colours, cream);
  }

  &--reverse {
    .row {
      flex-direction: row-reverse;
    }
  }
}

@include media-breakpoint-up(md) {
  .pg-page-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
