.pg-radio {
  position: relative;

  &__box {
    display: inline-block;
    font-size: $form-element-size;
    border: $form-border;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: $form-secondary-colour;

    &:after {
      content: "";
      background-color: $form-secondary-colour;
      position: absolute;
      height: 50%;
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
}

input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  &:checked + .pg-radio__box {
    background-color: $form-primary-colour;

    &:after {
      display: block;
    }
  }

  &:focus,
  &:active {
    + .pg-radio__box {
      box-shadow: $box-shadow-focus;
    }
  }
}
