.pg-radio {
  display: inline-block;
  font-size: $form-element-size;
  border: $form-border;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: $form-secondary-colour;

  &:after {
    content: "";
    background-color: $form-secondary-colour;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

input {
  &:checked + .pg-radio {
    background-color: $form-primary-colour;

    &:after {
      display: block;
    }
  }

  &:focus + .pg-radio {
    box-shadow: 0px 0px 7px 0px map-get($colours, surf);
  }
}
