.pg-revealer {
  position: relative;

  &__section {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--first {
      background-color: map-get($colours, surf);
      z-index: $layer-revealer;

      .pg-revealer__text {
        color: map-get($colours, sand);
      }
    }

    &--last {
      background-color: map-get($colours, sand);

      .pg-revealer__text {
        color: map-get($colours, surf);
      }
    }

    &.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    height: 100%;
  }

  &__text {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}
