.pg-swatch {
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    margin-right: 1rem;
    height: 6rem;
    width: 12rem;
    display: inline-block;
    border: 1px solid transparent;
  }

  @each $colour, $hexref in $colours {
    &--#{$colour} {
      &:before {
        background-color: $hexref;
      }

      &:after {
        content: "#{$colour} - #{$hexref}";
      }
    }
  }

  &--cream:before {
    border: 1px solid map-get($colours, slate);
  }
}
