.pg-toggle {
  position: relative;

  &__box {
    font-size: $form-element-size;
    display: inline-flex;
    width: 2em;
    border: $form-border;
    border-radius: 0.5em;
    position: relative;
    padding: 0.1em;
    margin: 0.2rem 0;
    background-color: $form-secondary-colour;
    cursor: pointer;

    &:after {
      content: "";
      display: inline-block;
      height: 0.8em;
      width: 0.8em;
      background-color: $form-primary-colour;
      border-radius: 50%;
      transition: transform 0.3s ease-in-out;
      position: relative;
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  &:checked + .pg-toggle__box {
    background-color: $form-primary-colour;

    &:after {
      background-color: $form-secondary-colour;
      transform: translateX(0.9em);
    }
  }

  &:focus,
  &:active {
    + .pg-toggle__box {
      box-shadow: $box-shadow-focus;
    }
  }
}
